{{#if resume.awards.length}}
<section id="awards"class="section">
    <h2 class="section-title">Awards</h2>
    {{#each resume.awards}}
    <section class="award-item">
        {{#if summary}}
        <label for="award-item-{{@index}}"></label>
        {{/if}}

        <header class="clear">
            {{#if date}}
            <p class="date">
                {{MY date}}
            </p>
            {{/if}}
            <p class="header-left">
                {{#if title}}
                <p class="title">
                    {{title}}
                </p>
                {{/if}}
                {{#if awarder}}
                <p class="awarder">
                    {{awarder}}
                </p>
                {{/if}}
            </div>
        </header>

        <div class="item">
            {{#if summary}}
            <div class="summary">{{paragraphSplit summary}}</div>
            {{/if}}
        </div>
    </section>
    {{/each}}
</section>
{{/if}}