{{#resume.basics}}
<section id="basics" class="basics">
	{{#if image}}
	<section class="section section-image">
		<img src="{{image}}" alt="{{name}}" />
	</section>
	{{/if}}

	<section class="section section-information">
		<h2 class="section-title">Information</h2>
		{{#location}}
		<section class="location">
			{{#if city}}
			<p class="city">{{city}},</p>
			{{/if}}
			{{#if countryCode}}
			<p class="countryCode">({{countryCode}})</p>
			{{/if}}
		</section>
		{{/location}}

		{{#birthDate birth}}
		{{/birthDate}}


		<section id="contact">
			{{#if website}}
			<div class="website">
				<p class="fa-solid fa-up-right-from-square"></p>
				<a class="hide-href-print" target="_blank" target="_blank" href="{{website}}">{{website}}</a>
			</div>
			{{/if}}
			{{#if email}}
			<div class="email">
				<p class="fa-regular fa-envelope"></p>
				<a class="hide-href-print" href="mailto:{{email}}">{{email}}</a>
			</div>
			{{/if}}
			{{#if phone}}
			<div class="phone">
				<p class="fa-solid fa-mobile-screen-button"></p>
				<a class="hide-href-print" href="tel:{{phone}}">{{phone}}</a>
			</div>
			{{/if}}
		</section>

		{{#if profiles.length}}
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<div class="username">
					<p class="fa-brands fa-{{spaceToDash network}} {{spaceToDash network}} social"></p>
					{{#if url}}
					<a target="_blank" href="{{url}}"><span class="show-only-url-print">{{username}}</span></a>
					{{else}}
					<span>{{username}}</span>
					{{/if}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}}
	</section>
</section>

{{/resume.basics}}