{{#resume.basics}}
<section id="basics" class="basics">
	{{#if image}}
	<section class="section section-image">
		<img src="{{image}}" alt="{{name}}" />
	</section>
	{{/if}}

	<section class="section section-basics">
		<h2 class="section-title sidebar-title">INFORMATIONS</h2>
		{{#location}}
		<section id="location">
			<i class="fa-solid fa-location-dot"></i>
			{{#if city}}
			<span class="city">{{city}},</span>
			{{/if}}
			{{#if countryCode}}
			<span class="countryCode">({{countryCode}})</span>
			{{/if}}
		</section>
		{{/location}}

		{{#birthDate}}
		<section id="birthDate">
			<i class="fa-solid fa-calendar"></i>
			{{#if birthDate}}
			<span class="birthDate">{{birthDate}}</span>
			{{/if}}
		</section>
		{{/birthDate}}

		<section id="contact">
			{{#if phone}}
			<div class="phone">
				<i class="fa-solid fa-mobile-screen-button"></i>
				<a class="hide-href-print" href="tel:{{phone}}">{{phone}}</a>
			</div>
			{{/if}}
			{{#if email}}
			<div class="email">
				<i class="fa-regular fa-envelope"></i>
				<a class="hide-href-print" href="mailto:{{email}}">{{email}}</a>
			</div>
			{{/if}}
			{{#if website}}
			<div class="website">
				<i class="fa-solid fa-up-right-from-square"></i>
				<a class="hide-href-print" target="_blank" target="_blank" href="{{website}}">{{website}}</a>
			</div>
			{{/if}}
		</section>

		{{#if profiles.length}}
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<div class="username">
					<i class="fa-brands fa-{{spaceToDash network}} {{spaceToDash network}} social"></i>
					{{#if url}}
					<a target="_blank" href="{{url}}"><span class="show-only-url-print">{{username}}</span></a>
					{{else}}
					<span>{{username}}</span>
					{{/if}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}}
	</section>
</section>

{{/resume.basics}}