{{#if resume.certificates.length}}
<section id="certificates" class="section section-certificates">
    <h2 class="section-title sidebar-title">Certificates</h2>
    {{#each resume.certificates}}
    <div class="certificate-item">
        {{#if date}}
        <p class="date">
            {{MY date}}
        </p>
        {{/if}}
        <div>
            {{#if name}}
            <p class="name">
                {{name}}
            </p>
            {{/if}}
            {{#if issuer}}
            <p class="issuer">
                {{issuer}}
            </p>
            {{/if}}
        </div>
        {{#if url}}
        <i class="fa-solid fa-up-right-from-square"></i>
        <a target="_blank" href="{{url}}">{{url}}</a>
        {{/if}}
    </div>
    {{/each}}
</section>
{{/if}}