{{#if startDate}}
  <code class="date">
    {{#if endDate}}
      {{#if (eq (Y startDate) (Y endDate))}}
        <span>{{Y startDate}}</span>
      {{else}}
        <span>{{Y startDate}} - {{Y endDate}}</span>
      {{/if}}
    {{else}}
      <span>{{Y startDate}} - Aujourd'hui</span>
    {{/if}}
  </code>
{{/if}}