{{#if resume.education.length}}
<section id="education" class="section section-education">
    <h2 class="section-title content-title">FORMATIONS</h2>
    {{#each resume.education}}
    <section class="section-item">
        <div id="education-header" class="section-header">
            <div class="section-date">
                {{> date startDate=startDate endDate=endDate }}
            </div>
            <div>
                <h3 class="section-subtitle">
                    {{#if studyType}}{{studyType}}{{/if}}
                    {{#if studyType}} en {{/if}}
                    {{#if area}}{{area}}{{/if}}
                </h3>
                <div class="section-information">
                    {{#if institution}}
                    <span>{{institution}}</span>
                    {{/if}}
                    {{#if location}}
                    <span>
                        <i class="fa-solid fa-location-dot"></i>
                        {{location}}
                    </span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="education-container" class="section-container">
            {{#if summary}}
            <div class="summary">{{paragraphSplit summary}}</div>
            {{/if}}
            {{#if courses.length}}
            <ul class="courses">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </section>
    {{/each}}
</section>
{{/if}}