{{#if resume.education.length}}
<section id="education" class="section education">
    <h2 class='section-title'>Education</h2>
    {{#each resume.education}}
    <section class="section-item">
        <div id="education-header" class="section-header">
            <div>
                {{> date startDate=startDate endDate=endDate }}
            </div>
            <div>
                <p>
                    {{#if studyType}}{{studyType}}{{/if}}
                    {{#if studyType}} en {{/if}}
                    {{#if area}}{{area}}{{/if}}
                </p>
                {{#if institution}}
                <p class="institution">{{institution}}</p>
                {{/if}}
            </div>
        </div>
        <div id="education-container" class="section-container">
            {{#if summary}}
            <div class="summary">{{paragraphSplit summary}}</div>
            {{/if}}
            {{#if courses.length}}
            <ul class="courses">
                {{#each courses}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </section>
    {{/each}}
</section>
{{/if}}