{{#if resume.publications.length}}
<section id="publications" class="section section-publications">
    <h2 class="section-title sidebar-title">Publications</h2>
    {{#each resume.publications}}
    <div>
        {{#if releaseDate}}
        <p class="date">
            {{MY releaseDate}}
        </p>
        {{/if}}
        {{#if name}}
        <p class="name">
            {{#if website}}
            <a target="_blank" href="{{website}}">{{name}}</a>
            {{else}}
            {{name}}
            {{/if}}
            {{#if publisher}}
            <span>
                in {{publisher}}
            </span>
            {{/if}}
        </p>
        {{/if}}
        {{#if summary}}
        <p class="summary">{{paragraphSplit summary}}</p>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
            {{#each keywords}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}
</section>
{{/if}}