{{#if resume.volunteer.length}}
<section id="volunteer" class="section section-volunteer">
    <h2 class="section-title content-title">Volunteer Experience</h2>
    {{#each resume.volunteer}}
    <section class="section-item">
        <div id="volunteer-header" class="section-header">
            <div>
                {{> date startDate=startDate endDate=endDate }}
            </div>
            <div>
                {{#if position}}
                <h3 class="section-subtitle">{{position}}</h3>
                {{/if}}
                <div class="section-information">
                    {{#if website}}
                    <a target="_blank" href="{{website}}">{{organization}}</a>
                    {{else}}
                    <span>{{organization}}</span>
                    {{/if}}
                    {{#if location}}
                    <span class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        {{location}}
                    </span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="volunteer-container" class="section-container">
            {{#if summary}}
            <div class="summary">{{paragraphSplit summary}}</div>
            {{/if}}
            {{#if highlights.length}}
            <ul class="highlights">
                {{#each highlights}}
                <li>{{paragraphSplit .}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </section>
    {{/each}}
</section>
{{/if}}