{{#if resume.work.length}}
<section id="work" class="section work">
    <h2 class='section-title'>Work Experience</h2>
    {{#each resume.work}}
    <section class="section-item">
        <div id="work-header" class="section-header">
            <div>
                {{> date startDate=startDate endDate=endDate }}
            </div>
            <div>
                {{#if position}}
                <p class="position">{{position}}</p>
                {{/if}}
                <p class="company">
                    {{#if website}}
                    <a target="_blank" href="{{website}}">{{name}}</a>
                    {{else}}
                    {{name}}
                    {{/if}}
                    {{#if location}}
                    <span class="location">
                        <span class="fa-solid fa-location-dot"></span>
                        {{location}}
                    </span>
                    {{/if}}
                </p>
            </div>
        </div>
        <div id="work-container" class="section-container">
            {{#if summary}}
            <div class="summary">{{paragraphSplit summary}}</div>
            {{/if}}
            {{#if highlights.length}}
            <ul class="highlights">
                {{#each highlights}}
                <li>{{paragraphSplit .}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </section>
    {{/each}}
</section>
{{/if}}